version: 2
jobs:
    phpunit:
        docker:
            - image: circleci/php:7.2.9-apache-browsers
        environment:
            URL_ROOT: 'http://172.18.0.1:8086/'
            MYSQL_CHARSET: utf8
            MYSQL_DB: toDoAndCo
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: toDoAndCo
            MYSQL_USER: lolo
            MYSQL_PASSWORD: test
            MYSQL_PORT: 3306
            DB_HOST: mysql
            DB_DRIVER_DEV: pdo_mysql
            DB_CHARSET_DEV: utf8
            DATABASE_URL_DEV: 'mysql://lolo:test@mysql/toDoAndCo'

        steps:
            - checkout
            - run: echo 'Hello World'
            - run: sudo apt install -y libsqlite3-dev zlib1g-dev
            - run: sudo docker-php-ext-install zip
            - run: sudo composer self-update
            - run: sudo docker-php-ext-install pdo_mysql
            - run: sudo docker-php-ext-enable pdo_mysql
            - restore_cache:
                keys:
                    - composer-v1-{{ checksum "composer.json" }}
                    - composer-v1-
            - run: composer install -n --optimize-autoloader --classmap-authoritative
            - run: composer dump-autoload --optimize --classmap-authoritative
            - save_cache:
                key: composer-v1-{{ checksum "composer.json" }}
                paths:
                    - vendor
            - run: ./bin/console d:d:c --env=test
            - run: ./bin/console d:s:c --env=test
            - run: ./bin/console d:f:l --env=test -n
            - run: ./vendor/bin/phpunit -v --group unit
workflows:
    version: 2
    unit_test:
        jobs:
            - phpunit
